.navbar-brand img {
    width: 130px;
}

.full-width {
    width: 100%;
    height: auto;
}

.feature-item svg {
    width: 50px;
    height: auto;
    color: rgb(25, 251, 25);
}

.subscribe {
    background-image: url(images/subscribe.jpg);
    background-size: cover;
    background-position: center;
}

.brand-icon img {
    width: 150px;
    height: auto;
}

.blur-filter {
    backdrop-filter: blur(8px);
    background-color: rgba(255 255 255 / 30%);
}